.popup-add-competitor {
  .input-competitor {
    .result-search {
      margin-top: 20px;
      max-height: 300px;
      height: 300px;
      overflow-y: auto;
      .item-name {
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid rgb(226, 226, 226);
        &:hover {
          background-color: rgb(241, 241, 241);
        }
      }
      .item-active {
        background-color: rgb(211, 180, 180);
        &:hover {
          background-color: rgb(211, 180, 180);
        }
      }
    }
    .search-icon {
      font-size: 50px;
      margin: 40px 0;
      opacity: 0.3;
    }
    .no-data {
      text-align: center;
    }

    .save-competitor {
      text-align: center;
      margin-top: 20px;
    }
  }
}
