@import '../../../utils/theme/colors';

.Header {
  &-mobile {
    &-logo {
      height: 76px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $light-background;
      img {
        width: 80px;
      }
    }
    &-bottom {
      padding: 18px 18px;
      background-color: $dark-blue;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    &-list {
      width: 100%;
      padding-left: 0;
      z-index: 99;
      margin: 0;
      background: $dark-blue;
      max-height: 0;
      transition: 0.5s;
      overflow: hidden;
      text-align: left;
      li {
        a {
          display: block;
          width: 100%;
          padding: 10px 0;
          color: $white;
        }
      }
      &.active {
        max-height: 100vh;
      }
      .not-show-app {
        display: none;
      }
      .show-app {
        display: block;
      }
      .has-sub-menu {
        position: relative;
        .dropdownMenu {
          transition: 0.5s;
          max-height: 0;
          overflow: hidden;
          padding-left: 10px;
          &.active {
            max-height: 100vh;
          }
        }
      }
    }
    &-search {
      flex: 1;
      margin: 0 15px;
    }
  }
}