/*
- Please follow this tool to name your color, then please define the color in src/common-types/ui.ts also
  https://chir.ag/projects/name-that-color/#6195ED

- If colors same name, please add suffix. Ex: persian-blue, persian-blue-dark, persian-blue-light, ...
*/

$white: #ffffff;
$black: #000000;

$gallery: #f0f0f0;
$athens-gray: #f0f2f5;
$dodger-blue: #1890ff;
$alto: #d9d9d9;
$lima: #52c41a;
$limeade: #ffc533;
$emperor: #505050;
$link-water: #d7e4f3;
