$dark-purple: #1f0427;
$teal: #02aaa4;
$teal-hover: #00928d;
$light-grey: #e8e8e8;
$grey-border: #cbcbcb;
$grey-text: #757575;
$light-background: #eef1f3;
$yellow: #ffc225;
$dark-grey: #555d66;
$bg-yellow: rgba(255, 194, 37, 1);
$box-shadow-yellow: rgba(238, 197, 17, 0.2);
$text-dark: rgba(67, 77, 86, 1);
$red: #ff0000;
$black: #000000;
$black-translucent: rgba(0, 0, 0, 0.2);
$dark-blue: #000e2d;
$white: #ffffff;
$color-pricing-link: #805b00;
$color-service-link: #996e00;
$color-product-link: #cc9200;
$color-faq-link: #e6a400;
$color-underline-link: rgba(26, 33, 40, 1);
