@import '../../utils/theme/colors';

.sasi-layout-background {
  background-color: #eef1f3;
  height: 80px;
  .header-sasi {
    margin-right: auto;
    margin-left: auto;
    .header-profile {
      text-align: right;
      align-items: center;
      padding-left: 15px;
      .avatar-profile-header {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .profile-name {
        padding-right: 6px;
        font-weight: 500;
        font-size: 16px;
        white-space: nowrap;
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .menu-sasi {
      display: flex;
      width: 100%;
      justify-content: space-between;
      line-height: 75px;
      .menu-content {
        display: flex;
        align-items: center;
        width: 80%;
      }
      .logo-sasi {
        .ant-menu-inline,
        .ant-menu-vertical,
        .ant-menu-vertical-left {
          border-right: none;
        }

        .ant-menu {
          background: none;
          border: none;
          .ant-menu-item {
            height: auto;
            background-color: transparent;
            padding-left: 0 !important;
          }
        }
        cursor: pointer;
        .img-responsive {
          vertical-align: middle;
          border-style: none;
        }
      }
      .menu-right {
        width: 100%;
        .list-menu {
          .close-icon {
            font-size: 18px;
            color: red;
            margin-left: 5px;
          }
          .search-icon {
            margin-left: 10px;
            font-size: 24px;
            color: #555d66;
          }
          .search-text {
            display: none;
          }
          .search-data {
            border-radius: 4px;
            &:focus,
            &:hover,
            .ant-input-affix-wrapper-focused {
              border-color: #ffc225 !important;
              box-shadow: 0 0 0 2px rgba(238, 197, 17, 0.2) !important;
            }
            width: 260px;
          }
          .ant-menu-horizontal {
            border-bottom: none;
            color: #555d66;
            text-align: start;

            .ant-menu-overflow-item {
              &::after {
                border: none;
              }
              &:hover {
                color: $black;
                border-bottom: none;
              }
            }
          }
        }
        .ant-menu {
          background: none;
          border-right: none;
        }
      }
      .button-login {
        padding-left: 2px;
        &-styled {
          background-color: rgba(255, 194, 37, 1) !important;
          border-color: rgba(255, 194, 37, 1) !important;
          color: rgba(67, 77, 86, 1) !important;
          border-radius: 20px !important;
          font-size: 15px !important;
          box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
          height: 40px !important;
          span {
            font-weight: 500;
          }
        }
      }
    }
  }
}
.ant-dropdown-menu {
  padding: 0 !important;
  border-radius: 0 !important;
  .ant-dropdown-menu-title-content {
    font-size: 15px;
    margin: 3px 0;
  }
  a {
    color: $black;
    &:hover {
      color: $black;
    }
  }
  .ant-dropdown-menu-item {
    background-color: white !important;
    color: $black;
  }
  .ant-dropdown-menu-item:hover {
    background-color: #ffc225 !important;
    color: $black !important;
    border-radius: 0;
  }
}

@media (max-width: 1680px) {
  .menu-content {
    width: 100% !important;
    .list-menu {
      width: 100% !important;
    }
  }
}

@media (max-width: 1185px) {
  .logo-sasi {
    display: none;
  }
}
